<table>
  <tr class="columntitle">
    <th>　　　　</th>
    <th>アルバム名</th>
    <th>アーティスト名</th>
    <th>価格</th>
    <th>数量</th>
    <th>削除</th>
  </tr>
  <tr>
    <td><img src="img/catkick.jpg"></td>
    <td>アルバム名</td>
    <td>アーティスト１</td>
    <td>3000円</td>
    <td>１</td>
    <td><button type="button" name="aaa" value="aaa">削除する</button></td>
  </tr>
</table>
