<div class="clearfix">
  <section class="blog">
      <h2 class="blog-headline">New Release</h2>
      <div class="blog-box">
        <div class="blog-item clearfix">
          <img class="blog-image">
          <section class="blog-text">
            <h3 class="blog-text-headline">
              <a href="single.html">
              </a>
            </h3>
            <p class="blog-date">June 19, 2017</p>
            <span class="category">Nature</span>
          </section>
        </div>
      <div class="pagination">
        <p><<</p>
        <p><</p>
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>></p>
        <p>>></p>
      </div>
    </section>
    <div class="sidebar">
      <section class="popular">
        <h2 class="sidebar-headline">Search</h2>
        <div class="sidebar-contents">
        </div>
      </section>
      <section class="instagram">
        <h2 class="instagram-headline">Genre</h2>
        <div class="sidebar-contents clearfix">
        </div>
      </section>
      <section class="categories">
        <h2 class="categories-headline">Ranking</h2>
      </section>
    </div>
</div>
