<div class="index-container clearfix">
  <section class="items clearfix">
    <h2 class="item-headline">新作</h2>
    <% @items.each do |item| %>
    <div class="item-box">
      <div class="item-item clearfix">
        <% if item.image.present? %>
        <%= attachment_image_tag item, :image, :fill,60, 60 %>
        <% else %>
        <%= image_tag 'no_image.jpg', size: '20x40',alt: "no image" %>
        <% end %>
        <section class="item-text">
          <p class="item-date">June 19, 2017</p>
          <span class="category">Nature</span>
        </section>
      </div>
    </div>
      <% end %>
      <div class="pagination">
        <%= paginate @items %>
      </div>
    </section>
    <div class="sidebar">
      <section class="popular">
        <h2 class="sidebar-headline">検索</h2>
        <div class="sidebar-contents">
        </div>
      </section>
      <section class="instagram">
        <h2 class="instagram-headline">ジャンル</h2>
        <div class="sidebar-contents clearfix">
        </div>
      </section>
      <section class="categories">
        <h2 class="categories-headline">順位</h2>
      </section>
    </div>
  </div>
