/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
  // color: #6c6b6b;
}
a {
  text-decoration: none;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.container{
	min-height: 1000px;
}

header{
	width: 100%;
	height: 70px;
	background-color:darkred;
	margin-bottom: 50px;
}

header .brandlogo{
	padding-top: 15px;
}

header .brandlogo img{
	height: 40px;
}

.header-nav{
	width: 100%;
	background-color:darkred;

}


.header-nav ul li{
	line-height: 65px;
	text-align: center;
	color: white;
	font-size: 24px;
	font-family: Impact;
	list-style-type: none;
	float:left;
	padding: 0 10px;
	background-color: darkred;
}


.header-nav ul li a{
	color: white;
	text-decoration:none;
}

.pagenation{
	background-color: none;
}


nav ul li a{
	color: white;
}


.collapse ul li a{
	color: white;
	text-decoration:none;
}

.navbar-toggle{
	margin-top:15px;
	background-color:darkred;
	border:1px solid white;
}

.icon-bar{
	background-color: white;

}

.cart_image{
	margin-bottom: 10px;
}

.login_form_box{
	font-size: 10px;
	text-align: center;
}

.login_form_box h2{
	text-align: center;
	margin-bottom: 20px;
}

.field{
	height: 50px;
}

footer{
	width: 100%;
	height: 70px;
	background-color:darkred;
	color: white;
	text-align: center;
	line-height: 70px;
	margin-top: 50px;
}


@media screen and (max-width: 767px) {
	
	.header-nav ul{
			width: 100%;
			height: 60px;
			margin:0 auto;
		}

	.header-nav ul li a{
			width: 60px;
			height: 60px;
			font-size: 14px;
			text-align: center;
		}
	.login_form_box form .field{
		font-size: 9px;
	}

}