// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.br {
  display: block;
  margin-bottom: 20px;
}


.items {
  min-height: 200px;
  float: left;
  // margin-right: 30px;
}
.item-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
div .item-box {
  float: left;
  padding: 10px;
  height: 300px;
}
div .ranking-box {
  // float: left;
  margin: 0 auto;
  padding: 4px;
  width: 190px;
  // height: 300px;
}
.rank{
  margin-right: 4px;
  float: left;
  color: gold;
  font-size: 26px;
}

.rank-item {
  // width: 70px;
  border-bottom: 1px solid #f7f7f7;
  float: left;
}

.rank-text-box {
  float: left;
}

.genre-box{
  margin: 0 auto;
  // padding: 10px;
  width: 80px;
  font-size: 26px;
}
.item-item {
  // width: 70px;
  border-bottom: 1px solid #f7f7f7;
}
.line {
  padding-bottom: 15px;
}
.item-artist {
  display: inline-block;
  font-size: 12px;
}
.item-cart {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

.sidebar-headline, .genre-headline, .categories-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}

.sidebar-contents {
  padding: 50px 0;
}
.popular-text, .categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;
}
.popular-text:last-child, .categories-text:last-child {
  margin: 0;
  padding: 0;
  border: none;
}


.pagination {
  margin-top: 0px;
  width: 100%;
}

/*_____________________________________________*/
/*アイテム詳細画面*/



.album_case{
  width: 100%;
  margin-bottom: 50px;

}

.album_case img{
  width: 100%;
}

.album_table{
  margin-top: 0px;

}

.album_small_info{
  height: 400px;

}

.album_small_info ul{
  margin: 10px 0 0 30px;
  list-style-type: none;
}

.album_small_info ul li{
  margin-bottom: 20px;
}

.album_small_info ul li button{
  font-size: 16px;
}

.album_big_info{
  width: 100%;
}

.album_big_info h2{
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  border: 1px solid gray;
  background-color: darkred;
  color: white;
}

.album_big_info ul{
  margin-left:20px;
  list-style-type: none;
}

.album_big_info ul li{
  margin: 20px 0px;
}

.album_disc_info{
  margin-bottom: 100px;

}

.album_disc_info h3{
  margin-top: 30px;
  margin-left: 30px;
}

.album_disc_info p{
float: right;
margin:30px 150px 0 0;
}

.album_title{
  padding: 100px 0px;
  height: 30px;
  border-bottom: solid 1px black;
}


.otheralubum{
  width: 100%;
  line-height: 70px;
  margin-top: 150px;
  border-top: solid 1px black;
}

.otheralubum ul li{
  list-style-type: none;
  margin: 0 43px ;
  float: left;
}

.otheralubum ul li a{
  text-decoration: none;
}


.otherimage img{
  height: 100px;

}


/*_____________________________________________*/
// .no_image {
//   width: 90px;
//   height: 90px;
// }

