// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.br {
  display: block;
  margin-bottom: 20px;
}

main {
  min-width: 900px;
  margin: 0 auto;
  // padding: 70px 0; /* 上下に70px、左右に0pxの枠の内側の余白 */
}
.index-container{
  width: 1000px;
  margin: 0 auto;
}

.items {
  min-height: 200px;
  width: 750px;
  float: left;
  // margin-right: 30px;
}
.item-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
div .item-box {
  float: left;
  padding: 10px;
  width: 150px;
  height: 300px;
}
.item-item {
  // width: 70px;
  border-bottom: 1px solid #f7f7f7;
}
.line {
  padding-bottom: 15px;
}
.item-text-box {
  // width: 130px;
  // float: left;
  // padding: 30px 0 0 25px;
}
.item-artist {
  display: inline-block;
  font-size: 12px;
}
.item-cart {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

// .pagination p {
//   display: inline-block;
//   width: 30px;
//   height: 30px;
//   margin: 0 5px;
//   color: #fff;
//   background-color: #acabab;
//   border-radius: 3px;
//   line-height: 30px;
// }
.sidebar {
  width: 230px;
  float: left;
}
.sidebar-headline, .instagram-headline, .categories-headline {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}
.sidebar-contents {
  padding: 50px 0;
}
.popular-text, .categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;
}
.popular-text:last-child, .categories-text:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
.instagram-box {
  float: left;
  width: 110px;
  padding-top: 110px;
  background-size: cover;
  background-position: center;
}
.instagram-box:nth-child(odd) {
  margin: 0 10px 10px 0;
}
.pagination {
  margin-top: 0px;
  width: 100%;
}
