<!DOCTYPE html>
<html>
  <head>
    <title>神南レコード</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="brandlogo">
          <img src="/assets/jinnanlogo.png">
        </div>
        <ul>
          <li>MyPage</li>
          <li>Cart</li>
          <li>LogOut</li>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
    
    <footer>
     @神南レコード @Infratop 2017
    </footer>
  </body>
</html>
